HSO.UnitTests/app.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="urn:schemas-microsoft-com:asm.v1" />
	<xs:element name="configuration">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="runtime">
					<xs:complexType>
						<xs:sequence>
							<xs:element xmlns:q1="urn:schemas-microsoft-com:asm.v1" ref="q1:assemblyBinding" />
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="startup">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="supportedRuntime">
								<xs:complexType>
									<xs:attribute name="version" type="xs:string" use="required" />
									<xs:attribute name="sku" type="xs:string" use="required" />
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>